<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot CRUD Example</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/ubuntu.png}">

    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-3.3.1.slim.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
</head>
<body>

<div class="container">
    <h2>Form Buku</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" method="post"
                  th:action="@{/create}" th:object="${buku}">
                <input th:field="*{id}" type="hidden"/>

                <div class="form-group">
                    <label for="kode_buku">Kode Buku:</label>
                    <input class="form-control" id="kode_buku" th:field="*{kode_buku}" type="text">
<!--                    <p class="alert alert-danger" th:errors="*{kode_buku}" th:if="${#fields.hasErrors('kode_buku')}">-->
                </div>
                <div class="form-group">
                    <label for="judul">Judul Buku:</label>
                    <input class="form-control" id="judul" th:field="*{judul}" type="text">
<!--                    <p class="alert alert-danger" th:errors="*{judul}" th:if="${#fields.hasErrors('judul')}">-->
                </div>
                <div class="form-group">
                    <label for="nama_penerbit">Nama Penerbit:</label>
                    <input class="form-control" id="nama_penerbit" th:field="*{nama_penerbit}" type="text">
<!--                    <p class="alert alert-danger" th:errors="*{nama_penerbit}" th:if="${#fields.hasErrors('nama_penerbit')}">-->
                </div>
                <div class="form-group">
                    <label for="tahun_penerbit">Tahun Terbit:</label>
                    <input class="form-control" id="tahun_penerbit" th:field="*{tahun_penerbit}" type="text">
<!--                    <p class="alert alert-danger" th:errors="*{tahun_terbit}" th:if="${#fields.hasErrors('tahun_terbit')}">-->
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Save">
                    <a class="btn btn-danger" role="button" th:href="@{/buku}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>