<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Registration page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div align="center" class="col-md-12">
    <h2>Welcome to Student registration page</h2>
    <div class="col-md-6">
        <form action="#" method="post" th:action="@{/save-buku}" th:object="${buku}">
            <div class="form-group">
                <label for="kode_buku">Kode Buku:</label>
                <input class="form-control" id="kode_buku" th:field="*{kode_buku}" type="text">
                <p class="alert alert-danger" th:errors="*{kode_buku}" th:if="${#fields.hasErrors('kode_buku')}">
            </div>
            <div class="form-group">
                <label for="nama_buku">Nama Buku:</label>
                <input class="form-control" id="nama_buku" th:field="*{nama_buku}" type="text">
                <p class="alert alert-danger" th:errors="*{nama_buku}" th:if="${#fields.hasErrors('nama_buku')}">
            </div>
            <div class="form-group">
                <label for="nama_penerbit">Nama Penerbit:</label>
                <input class="form-control" id="nama_penerbit" th:field="*{nama_penerbit}" type="text">
                <p class="alert alert-danger" th:errors="*{nama_penerbit}" th:if="${#fields.hasErrors('nama_penerbit')}">
            </div>
            <div class="form-group">
                <label for="tahun_terbit">Tahun Terbit:</label>
                <input class="form-control" id="tahun_terbit" th:field="*{tahun_terbit}" type="text">
                <p class="alert alert-danger" th:errors="*{tahun_terbit}" th:if="${#fields.hasErrors('tahun_terbit')}">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>